body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.menu-principal{
    width: 100%;
    background-color:  #0b0b0b;;
    height: 60px;
}

main{
    margin: 0 auto;
    width: 1200;
    position:  relative;
}

.logo{
    float: left;
    padding: 15px;
    width: 80%;
}

.redes-sociais ul li {
    margin-left: 15px;
    display: inline-block;
    list-style: none;
}

.redes-sociais{
    width: 15%;
    float: left;
}

.header-2{
    background-color: white;
    width: 1400;
    padding: 6px;
}

.menu-urls{
    border-bottom: 3px solid #efefef
}

.menu ul li {
    display: inline-block;
    margin-left: 19px;
    height: 26px;
}

.menu ul li a:hover{
    color: #0659f3;
}

.menu ul li:hover{
    border-bottom: 3px solid #0659f3 ;
}

.menu ul li a {    
    color: #8b8b8b;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

.menu{
    width: 70%;
    float: left;
}

.busca{
    width: 20%;
    float: right;
    text-align: center;
}

.busca input{
    background-image: url('./assents2/lupa.png');
    background-repeat: no-repeat;
    background-position: 95%;
    height: 1px;
    padding: 15px;
    margin-top: -10px;
    width: 190px;
    border: 1px solid #d6d6d6;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 42px;
    height: 77px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('./assents2/esquerda.png');
    top: 35%;
    left: 5%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 40px;
    height: 77px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('./assents2/direita.png');
    top: 35%;
    right: 5%;
}

.slider-list{
    width: 100%!important;
}

.slick-initialized{
    overflow: hidden;
}

.slick-dots li button{
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 550px;
    
}

li.slick-active button{
    background: #0088f7;
}

.slick-dots li{
    padding-left: 10px;
    display: inline-block;
}

.texto-destaque strong{
    color: #646464;
}

.texto-destaque {
    text-align: center;
}

.texto-destaque h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: #818181;

}

.texto-destaque p {
    font-size: 20px;
    color: #9a9a9a;
}

section{
    margin-top: 80px;
}

.ano input{
    display:inline;
}
.ano p{
    text-align: center;
    color: #444444;
    font-size: 30px;
    text-transform: uppercase;
    ;
}

input#txtdia{
    font-size: 20px;
    height: 25px;
    width: 25px;
    border: 5px #494949 solid;
    border-radius: 6px;
}

input#txtmes{
    font-size: 20px;
    height: 25px;
    width: 25px;
    border: 5px #494949 solid;
    border-radius: 6px;
}

input#txtano{
    font-size: 20px;
    height: 25px;
    width: 25px;
    border: 5px #494949 solid;
    border-radius: 6px;
}

.ano p#botao{
    text-align: center;
     ;
    
}
input#botao{
    font-size: 30px;
    text-transform: uppercase;
    background-color: #979494;
    color: #ffffff;
    border-radius: 7px;
    
}

div#res{
    margin-top: 50px;
    font-size: 25px;
    color: #242222;
    text-align: center;
}


footer{
    
    font-size: 15px;
    color: #292727;
    text-align: center;
}
